.articles-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 375px;
    background-color: var(--gray-100);
    align-items: center;
    padding-bottom: 60px;
}

.articles-container img {
    margin: 15px 20px;
    border-radius: 10px;
    width: 95%;
}

h2 {
  font-size: 1.9rem; /* Larger for impact */
  font-weight: 300; /* Light weight from style guide */
  color: var(--blue-950);
  line-height: 1.1;
  margin-bottom: 24px;
  margin-top: 24px;
  font-family: 'Public Sans', sans-serif;
  
}

.article {
    text-align: left;
    max-width: 335px;
    padding: 0 25px;
    width: 95%;
    background-color: white;
}

.reg-body {
    text-align: left;
    font-size: 1rem; /* Larger for impact */
    font-weight: 300; /* Light weight from style guide */
    color: var(--gray-600);
    max-width: 400px;
}

.small-body {
    text-align: left;
    font-size: .85rem; /* Larger for impact */
    font-weight: 300; /* Light weight from style guide */
    color: var(--gray-600);
    line-height: 1.1;
    margin-bottom: 15px;
    max-width: 400px;
}

h4 {
    font-size: 1.45rem; 
    font-weight: 400; /* Light weight from style guide */
    color: var(--blue-950);
    line-height: 1.1;
    max-width: 400px;
    margin-top: 0;
}

@media screen and (max-width: 374px) {
  .articles-container {
    width: 320px;
  }
}