.footer {
    background-color: var(--blue-150);
    min-height: 100px;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 375px;
    margin-top: 0;
}

.social-row {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.social-row img{
    width: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.logo2{
    width: 200px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 10px;
}

li {
    color: var(--white);
}

ul {
  list-style-type: none;
  text-align: center;
  margin-bottom: 20px;
}

span {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}
.copyright {
    margin: 40px;
    font-size: 16px;
    width: 85%;

}



@media screen and (max-width: 374px) {
  .footer {
    width: 320px;
  }
}