* {
  background: #fff;
  border-radius: 8px;
}

.mobile-menu {
  position: relative;
  top: 70px; /* leaves room for navbar */
  top: -300px;
  /* margin-left: 20px; */
  background-color: pink;
  z-index: 2; /* above overlay, below navbar */
  text-align: center;
  
  /* width: 100px; */
}

.mobile-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background: white;
  margin: 20px;
}

.mobile-menu li {
  margin: 15px 0;
  font-weight: 600;
  font-size: 1.1rem;
  color: var(--blue-950);
}

