.mobile-menu-container {
  background: #fff;
}

.mobile-menu ul {
  position: absolute;
  top: 30px;
  width: 85%;
  list-style: none;
  margin: 10px;
  padding: 0;
  background: white;
  margin: 15px;
  border-radius: 8px;
  z-index: 2;
  text-align: center;
}

.mobile-menu li {
  margin: 15px 0;
  font-weight: 600;
  font-size: 1.1rem;
  color: var(--blue-950);
}

