nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-width: 320px;
    height: 70px;
    z-index: 300;
    /* background-color: blue; */
}
.logo {
    width: 10rem;
    margin-left: 20px;
}
.menu-icon {
    width: 2rem;
    margin-left: 1rem;
    margin-right: 20px;
}


