/* src/styles.css */
:root {
  /* Primary */
  --blue-150: hsl(233, 26%, 24%);
  --green-500: hsl(136, 64%, 51%);
  --cyan-400: hsl(192, 69%, 51%);
  /* Neutral */
  --gray-600: hsl(233, 8%, 62%);
  --gray-100: hsl(220, 16%, 96%);
  --gray-50: hsl(0, 0%, 98%);
  --white: hsl(0, 100%, 100%);
}

* {
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
  width: 100%;
  /* width: 375px; */
}

html, body {
  margin: 0;
  padding: 0;
  /* width: 100%; */
  width: 375px;
  margin: 0 auto;
  font-family: 'Public Sans', sans-serif;
  font-size: 18px;
}

@media screen and (max-width: 374px) {
  html, body {
    width: 320px;
  }
}

.hero-section {
  display: block;
  margin-top: 0;
  padding-top: 0;
}

@media screen and (min-width: 699px) {
  html, body {
    max-width: none;
    min-width: 100%;
    margin: 0;
  }
  * {
    width: auto;
    padding: 0;
  }
  .hero-section {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    padding: 0 0; /* Remove side padding for full width */
    margin-top: 0; /* Remove top margin so it touches navbar */
    min-height: 500px; /* Optional: set a min height for the hero area */
  }
  
}